// Do we need to serve a font? Add the @font-face styles here.
@font-face {
    font-family: "Mermaid Swash Caps";
    src: url('assets/fonts/Mermaid\ Swash\ Caps.eot');
    src: url('assets/fonts/Mermaid\ Swash\ Caps.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Mermaid\ Swash\ Caps.woff2') format('woff2'), 
      url('assets/fonts/Mermaid\ Swash\ Caps.woff') format('woff'),
      url('assets/fonts/Mermaid\ Swash\ Caps.ttf') format('truetype');
  }
  
  @font-face {
    font-family: "Oswald";
    font-weight: 500;
    src: url('assets/fonts/Oswald-Regular.eot');
    src: url('assets/fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/Oswald-Regular.woff2') format('woff2'), 
      url('assets/fonts/Oswald-Regular.woff') format('woff'),
      url('assets/fonts/Oswald-Regular.ttf') format('truetype');
  }